@import "https://fonts.googleapis.com/css?family=Montserrat";

body{
  background:#a870ce;
  font-family:'Montserrat',sans-serif;
  max-width: 100%;
  max-height: 100%;
}
.menu{
  width:18%;
  position:absolute auto 0;
  cursor:pointer;
}
.titulo{
  width:100%;
  box-sizing:border-box;
  background:#fff;
  padding:14px;
  border-radius:4px;
  position:relative;
  box-shadow:0 0 40px -10px #000;
  color:#a870ce;
}
span{
  float:right;
  font-size:18px!important;
}
.menu-suspenso{
  width:100%;
  background:#fff;
  border-radius:4px;
  box-shadow:0 0 40px -10px #000;
  color:#505050;
  margin-top:24px;
  max-height:0;
  overflow:hidden;
  transition:all .5s;
}
.baixo{
  max-height:200px;
}
.seta{
  border-left:10px solid transparent;
  border-right:10px solid transparent;
  border-bottom:10px solid #fff;
  position:absolute;
  right:20px;
  bottom:-24px;
  display:none;
}
.seta.sem-seta{
  display:block;
}
p{
  padding:15px 14px;
  margin:0;
  transition:all .1s;
}
p:hover{
  background:#a870ce;
  -webkit-transform: scale(1.05);
  color:rgba(255,255,255,0.8);
  box-shadow:0 0 30px -10px #000;
}
.logo{
  max-width: 100%;
  max-height: 100%;
  float: right;
  margin-left: 800px;
  margin-bottom: 200px;
}
.titulo-2 {
  width:100%;
  position:absolute;
  color:#dbb6ee;
  font-size: 50px;
  margin-top: 80px;
}
.titulo-3 {
  background-image: url(Imagem/flor-orquidea.jpg);
  padding: 10px;
  margin: 10px;
  margin-top: 30px;
  color: #b57edc;
}
h1 {
  text-align: center;
  color: #4b1c71;
}
h2{
  text-align:center;
  color: #4b1c71;
}
h3 {
font-size: 14px;
margin: 15px;
color: #dbb6ee;
}
.flores {
  color: #7f4ca5;
}
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: none;
  margin: 10px;
  padding: 20px;
}
a:link {
  color: #a870ce;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #a870ce;
  background-color: transparent;
  text-decoration: none;
}
.galeria {
  width: 50%;
  height: 349px;
  outline: 8px solid #b77edd;
  background-color: #f2f2f285;
  overflow: hidden;
  margin-left: 420px;
  box-shadow:0 0 40px -10px #000;
  margin-left: auto;
  margin-right: auto;
}
.galeria .fotos {
  width: 500%;
  animation-name: animacao;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
.galeria .fotos img {
  width: 19.9%;
}
@media screen and (max-width: 768px) {
  .galeria { height: 240px; }
}
@media screen and (max-width: 480px) {
  .galeria { height: 170px; }
  .galeria .fotos img { width: 100%; } 
}
@keyframes animacao {
  0% { margin-left: 0;}
  20% { margin-left: 0;}
  25% { margin-left: -100%;}
  45% { margin-left: -100%;}
  50% { margin-left: -200%;}
  70% { margin-left: -200%;}
  75% { margin-left: -300%;}
  95% { margin-left: -300%;}
  100% { margin-left: 0;}
}
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  float: left;
  width: 33.33%;
  padding: 15px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  box-shadow:0 0 40px -10px #000;
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-card-front {
  background-color: white;
  color: black;
  box-shadow:0 0 40px -10px #000;
}
.flip-card-back {
  background-color: #dbb6ee;
  color: #c6f5a9;
  transform: rotateY(180deg);
}
iframe {
  position: fixed;
  width: 30vw;
  height: 400px;
  margin-top: 3.125vw;
  margin-left: 30.833vw;
  margin-bottom: 25px;
  box-shadow:0 0 40px -10px #000;
}
.video {
  position: relative;
  width: 30%;
  margin-top: 50px;
  margin-left: 520px;
  margin-bottom: 40px;
  box-shadow:0 0 40px -10px #000;
}
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  overflow: auto;
  color: #fff0ff;
}
.form {
  position:relative;
}
.formulario {
  border-radius: 5px;
  background-color: #f2f2f285;
  padding: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  font-family:'Montserrat',sans-serif;
  font-weight: bold;
  color: #7f4ca5;
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#submit {
  width: 100%;
  background-color: #7f4ca5;
  color: white;
  font-family:'Montserrat',sans-serif;
  font-weight: bold;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#submit:hover{
  background-color: #4b1c71;
}
.mapa {
  width:100%;
  position:absolute;
  font-size: 25px;
  margin-top: 80px;
}
.mapa-1 {
  position: relative;
  margin-bottom: 110px;
  margin-top: 5px;
}